<nav class="navbar bg-body-tertiary" id="nav">
    <div class="container-fluid">
        <a class="navbar-brand text-white" routerLink="/home" id="caacchtitle">
            <img src="assets/Logo contraste_.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" id="imgnav">
        </a>
        <div>
            <a routerLink="/home" class="caacchtitle">CAACCH</a>
        </div>
        <div class="link-container">
            <a class="text-white" routerLink="/doador" id="linkDoador">Doador</a>
            <a class="text-white" href="#">Produto</a>
            <a class="text-white" href="#">Doação</a>
            <a class="text-white" href="#">Solicitação</a>
            <a class="text-white" href="#">Estoque</a>
        </div>
    </div>
</nav>

<h1 class="text-left">Lista de Doadores Cadastrados</h1>
<div class="container mt-5">
    <hr class="row-title">
    
    <!-- Campo de Pesquisa -->
    <div class="row mb-3">
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Pesquisar Doador" [(ngModel)]="searchTerm" (input)="filterDoadores()">
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doador of filteredDoadores">
                <td>{{ doador.nome }}</td>  <!-- Nome do doador -->
                <td>{{ doador.dataNascimento }}</td> <!-- Data de Nascimento -->
                <td>{{ doador.cpf }}</td> <!-- CPF -->
                <td>{{ doador.email }}</td> <!-- Email -->
                <td>{{ doador.telefone }}</td> <!-- Telefone -->
                <td>{{ doador.endereco }}</td> <!-- Endereço -->
                <td>
                    <button class="btn btn-primary" routerLink="/doador/edit/{{ doador.cpf }}">Editar</button> <!-- Botão para editar -->
                    <button class="btn btn-danger" (click)="excluirDoador(doador.cpf)">Excluir</button> <!-- Botão para excluir -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
