<body>
  <div class="login-container">
    <form>
      <!-- Logo acima do campo de usuário -->
      <h1 class="text-login">Login</h1>
  
      <div>
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" placeholder="exemplo@gmail.com">
      </div>
      
      <div>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" placeholder="**********">
      </div>
      <button type="submit">Entrar</button>
  
      <!-- Imagem das crianças à direita do formulário -->
      <div class="imgcriancas-container">
        <img src="assets/login-criancas.jpg" alt="Crianças" class="imgcriancas" />
      </div>
    </form>
  </div>
</body>

