/* styles.scss ou styles.css */
body {
    background-image: url('/assets/u3s90o68ob52qmzmyn7lf5ofp9a5x1atmy60.jpg'); /* Insira o caminho da sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    color: white; /* Muda a cor do texto para branco para melhor visibilidade */
    height: 100vh; /* Garante que o body ocupe toda a altura da tela */
    margin: 0; /* Remove margens padrão */
  }
  